<footer style="position: fixed; right: 0; bottom: 0">
<p><%= current_date %></p>
<p>Автор: Калько Даниил Александрович</p>
<p><%= github_url('sleepingming','Rails')%></p>
<p><%= link_to "Учебный проект в онлайн-школе Thinknetica", "http://thinknetica.com", rel: "nofollow", target: "_blank" %></p>
</footer>
