<% if user_signed_in? %>
  <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
  <p> <%= link_to "Выйти",
          destroy_user_session_path,
          method: "delete",
          data: { confirm: 'Вы уверены?'}  %></p>
<% else %>
  <p>Добро пожаловать</p>
<% end %>
