<tr>
  <td><%= answer.body %></td>
  <td><%= link_to 'Редактировать', answer_path(answer) %></td>
  <td>
    <%= link_to 'Удалить',
                answer_path(answer),
                method: :delete,
                data: {confirm: 'Удалить ответ?'} %>
  </td>
</tr>
