<h1>Тесты</h1>

<p> <%= link_to 'Создать тест', new_admin_test_path %></p>
<table>
  <tr>
    <th>Тест</th>
    <th>Уровень</th>
    <th>Вопросы</th>
    <th>Действие</th>
  </tr>

  <%= render @tests %>
</table>
